{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-6 m-auto mt-5">
        {{ form_start(produitForm) }}
        {{ form_widget(produitForm) }}
        {{ form_end(produitForm) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

